@model VirtualHIE.Models.PatientDataAccess

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PatientDataAccess</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.PatientId, "PatientId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PatientId", String.Empty)
                @Html.ValidationMessageFor(model => model.PatientId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HospitalId, "HospitalId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("HospitalId", String.Empty)
                @Html.ValidationMessageFor(model => model.HospitalId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccessRequestDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccessRequestDate)
                @Html.ValidationMessageFor(model => model.AccessRequestDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsLatest, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsLatest)
                @Html.ValidationMessageFor(model => model.IsLatest)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
